<% unless defined?(Spina::Pro) %>
  <div class= "fixed bottom-0 right-0 px-5 py-4 group text-gray-400 text-xs font-medium">
    <div class="flex items-center justify-end">
      <%= image_tag('spina/spina.svg') %>
      <span>SpinaJJ</span>
    </div>
  </div>
<% end %>
