<div class= "fixed bottom-0 right-0 px-5 py-4 group text-gray-400 text-xs font-medium">
  <div class="flex items-center justify-end">
    <svg viewBox="0 0 100 100" class="h-3 w-3 mr-1 text-gray-400 group-hover:text-spina" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <path d="M92.33,159.821c-6.039-20.778,6.02-42.719,26.798-48.758l69.644-20.242c16.38-4.76,33.357,1.832,42.822,14.969   C267.189,78.071,301.145,43.55,329.006,0H69.086C30.999,0,0,30.999,0,69.086v139.654c21.148-3.993,56.84-12.416,98.296-28.394   L92.33,159.821z" data-original="#000000" class="" />
      <path d="M420.914,0h-55.943c-33.712,58.416-76.835,102.837-121.891,136.718l13.39,46.069c6.038,20.778-6.021,42.719-26.799,48.758   l-69.643,20.242c-20.778,6.038-42.72-6.021-48.758-26.799l-4.182-14.389C60.823,228.026,21.532,236.419,0,240.021v180.893   C0,459.001,30.999,490,69.086,490h351.829C459.001,490,490,459.001,490,420.914V69.086C490,30.999,459.001,0,420.914,0z    M249.92,367.166c-73.886,0-129.693-40.853-130.53-41.466l18.333-24.539c4.381,3.26,108.713,78.94,214.584,0l18.303,24.554   C328.935,356.803,287.124,367.166,249.92,367.166z M339.598,218.169c-23.55,0-42.641-19.091-42.641-42.641   c0-23.551,19.091-42.642,42.641-42.642c23.551,0,42.642,19.091,42.642,42.642C382.24,199.078,363.148,218.169,339.598,218.169z" data-original="#000000" class="" />
    </svg>
    <span class="ml-2">SpinaJJ</span>
  </div>
</div>
